startup --host_jvm_args=-XX:-UseParallelGC

# Google uses c++17
build --cxxopt="-std=c++17" 
build --jobs 30 --color=yes
build --copt -O3
build --copt -Wall
build --copt -Werror
build --copt -g 
build --strip=never
build --copt -march=native
build --copt -mtune=native
# Disable the below values for cilk compilation
#build --copt -D_GLIBCXX_PARALLEL
#build --copt -Wno-stringop-overflow
#build --copt -Werror=maybe-uninitialized

build:debug --copt -fno-omit-frame-pointer
build:debug --copt -fsanitize=address
build:debug --copt -fsanitize=undefined
build:debug --copt -fsanitize=leak
build:debug --linkopt -fsanitize=address
build:debug --linkopt -fsanitize=undefined 
build:debug --linkopt -fsanitize=leak
build:debug --copt -O1

build:perftest --copt -DDEBUG_PERF

build:cilk --copt -DUSE_CILK
build:cilk --copt -fopencilk
build:cilk --linkopt -fopencilk
# CILK RACE DETECTOR
#build:cilk --copt -fsanitize=cilksan
#build:cilk --linkopt -fsanitize=cilksan
# CILK WORK SPAN
#build:cilk --linkopt -fcilktool=cilkscale
#build:cilk --copt -fcilktool=cilkscale
# CILK SANITIZERS
build:cilk --linkopt -fsanitize=address
build:cilk --copt -fsanitize=address
build:cilk --copt -O1
