*~
simulatePaging
tags
delme
*.swp
*.dSYM
*.out*
*.DS_Store
fault_results.txt

# Bazel stuff
bazel-*
MODULE.bazel.lock

# data files
data+plots
!data+plots/plot_success.py

# parda installation
parda

